@{
    Layout = null;
}

@model News.Entities.Models.RegisterViewModels
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <style>
        /* Stillerinizin üstüne ekleyin */

        .login-container {
            text-align: center;
        }


        form {
            max-width: 300px;
            margin: 0 auto;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        input, button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .oauth-buttons {
            max-width: 300px;
            margin: 0 auto;
        }


        .site-title {
            font-size: 36px; /* Yazı boyutu */
            color: #333; /* Yazı rengi */
            font-weight: bold; /* Kalınlık */
            margin-bottom: 20px; /* Alt boşluk */
            text-align: center; /* Metni merkeze hizala */
            text-transform: uppercase; /* Metni büyük harfe çevir */
        }

        .social-button i {
            margin-right: 10px; /* İkon ile metin arasındaki boşluk */
        }
    </style>
</head>
<body>

    <div class="login-container">
        <h1 class="site-title ">The SiliconMade News</h1>
        <form asp-action="Register" asp-controller="Auth" method="post">
            <input type="text" placeholder="Username" asp-for="UserName">
            <input type="password" placeholder="Password" asp-for="Password">
            <input type="repassword" placeholder="RePassword" asp-for="RePassword">
            <button type="submit" class="btn btn-dark">Register</button>
        </form>
    </div>
</body>
</html>


